# Build directories
# /build/  # We want to keep CMake-generated build files
/.cmake/

# Executable files
# *.exe  # We want to keep one executable file

# Object files
*.o

# CMake files
# CMakeLists.txt  # We want to keep this file
CMakeCache.txt
*.cmake

# IDE specific files
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user